.lyco-reco-loader {
    width: 140px;
    height: 20px;
    display: flex;
    .loader-item {
        width: 20px;
        height: 20px;
        &:nth-child(2) {
            transform: translate3d(10px, 0, 0);
            &::before {
                background: #2a96fa;
                animation-delay: 0.08s;
            }
        }
        &:nth-child(3) {
            transform: translate3d(20px, 0, 0);
            &::before {
                background: #00b4aa;
                animation-delay: 0.16s;
            }
        }
        &:nth-child(4) {
            transform: translate3d(30px, 0, 0);
            &::before {
                background: #ffe76c;
                animation-delay: 0.24s;
            }
        }
        &:nth-child(5) {
            transform: translate3d(40px, 0, 0);
            &::before {
                background: #7a5668;
                animation-delay: 0.32s;
            }
        }
        &::before {
            background: #f0555a;
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            animation: loader 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite 0s;
            content: '';
        }
    }
}

@keyframes loader {
    0% {
        transform: translate3d(0, 0, 0);
    }
    5% {
        transform: translate3d(0, 4px, 0);
        -webkit-filter: blur(0.1px);
        filter: blur(0.1px);
        margin-left: -2px;
        width: 24px;
        height: 16px;
    }
    10% {
        transform: translate3d(0, 4px, 0);
        -webkit-filter: blur(0.1px);
        filter: blur(0.1px);
        margin-left: -1px;
        width: 22px;
        height: 18px;
    }
    15% {
        transform: translate3d(0, -17px, 0);
        -webkit-filter: blur(0.3px);
        filter: blur(0.3px);
        margin-left: 1px;
        width: 18px;
        height: 22px;
    }
    22% {
        transform: translate3d(0, -34px, 0);
        -webkit-filter: blur(0.2px);
        filter: blur(0.2px);
        margin-left: 0;
        width: 20px;
        height: 20px;
    }
    29% {
        transform: translate3d(0, -17px, 0);
        -webkit-filter: blur(0.3px);
        filter: blur(0.3px);
        margin-left: 1px;
        width: 18px;
        height: 22px;
    }
    34% {
        transform: translate3d(0, 0, 0);
        -webkit-filter: blur(0.2px);
        filter: blur(0.2px);
        margin-left: 1px;
        width: 18px;
        height: 22px;
    }
    40% {
        transform: translate3d(0, 4px, 0);
        -webkit-filter: blur(0.1px);
        filter: blur(0.1px);
        margin-left: -1px;
        width: 22px;
        height: 18px;
    }
    43% {
        transform: translate3d(0, 0, 0);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        margin-left: 0;
        width: 20px;
        height: 20px;
    }
    100% {
        transform: translate3d(0, 0, 0);
        margin-left: 0;
    }
}
