.bg {
    background: url('/img/bg_menu.jpg') repeat;
    background-size: 288px auto 0 0;
}

.link_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
