.bg {
    background: url('/img/bg_menu.jpg') repeat;
    background-size: 288px auto 0 0;
}

.cate_link {
    background: url('/img/cate.jpg') no-repeat center;
    background-size: cover;
}

.friend_link {
    background: url('/img/link.jpg') no-repeat center;
    background-size: cover;
}
